:root{
    --red:#ff2e63;
    --black:#252a34;
    --blue:#08d9d6;
    --white:#eaeaea;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;


}

body{
    background: #fff;
    overflow-x: hidden;
    font-family: "Releway", sans-serif;
}

/**Skew**/
.skew-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 15vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}



/***Menu de navegacion***/
#header{
    position: relative;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:black;


    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box{
    margin-left: 20px;
}
.menu .logo-box h1 a{
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color:white;
}
.menu .list-container{
    margin-right: 40px;
}


.menu .list-container .lists li {
    list-style: none;
}

.menu .list-container .lists li a{
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: #fff;
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}

.menu .list-container .lists li a{
  
    background:var(--blue);
    color:black;
    }

    .menu .list-container .lists li a:hover{
        background:violet;
        color:black;
        }
    
.btn-menu > .fa-bars{
    display: none;
}

/***Menu de navegacion***/






/**IMG Header**/
.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background:url(../css/FONDO.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .welcome{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}

.img-header .welcome hr{
    width: 1100px;
    height: 5px;
    background: #fff;
    border: none;
    margin-top: 5px;
}

.img-header .welcome p{
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
}





/**IMG Header**/



/**Footer**/


.footer .ejeZfooter{
    position: relative;
    width: 100%;
    height: 100%;
}

.footer .footer-content{
    width: 90%;
    padding-top: 100px;
    margin: auto;
}


.footer .footer-content .footer-title h2{
    text-align: center;
    color: black;
    font-size: 60px;
    
}    

.footer .footer-content .footer-title hr{
    width: 80%;
    margin: auto;
    height: 4px;
    background: navy;
    border: none;
  

}

.footer .footer-content .formulario-content{
    width: 60%;
    background: #fff;
    border-radius: 80px;
    border: 8px solid var( --red);
    margin: 50px auto;
    padding: 30px;
    margin-bottom: 100px;
    
}

.footer .footer-content .formulario-content #formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer .footer-content .formulario-content #formulario label{
    text-align: center;
    color:var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}

.footer .footer-content .formulario-content #formulario input{
    width: 90%;
    height: 40px;
    margin: auto;
    border: 3px solid var(--blue);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 17px;
    color: black;
}

.footer .footer-content .formulario-content #formulario textarea{
    width: 90%;
    height: 120px;
    margin: auto;
    border: 3px solid var(--blue);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: black;
    padding: 20px;
}

.footer .footer-content .formulario-content #formulario .send{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
    height: 40px;
    background:yellow;
    border-radius: 24px;
    border:none;
    outline: none;
    font-size: 26px;
    color:black;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5;
}

.footer .footer-content .formulario-content #formulario .send button:hover{
    background:peru;
}

.footer .footer-content .footer-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 119px;
    background: var(--black);
    border-top: 5px solid chartreuse;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .footer-content .footer-text p{
    color: aliceblue;
    font-size: 20px;
}

/**Footer**/
